adf/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "runnining dq checks",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "set datset_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SnowdummyConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "call @(activity('set dataset_id').output.value[0].dataset_id).Rec_dq(?)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "set fail count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "runnining dq checks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fail_count",
					"value": {
						"value": "@string(split(activity('runnining dq checks').output.resultSets[0].rows[0].Rec_dq,', ')[1])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set datset_id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataset_id",
					"value": "1"
				}
			}
		],
		"variables": {
			"fail_count": {
				"type": "String"
			},
			"dataset_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}